/* google fonts import */
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* applied for all elements */
body {
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    color: #OD1321;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

/* navbar styles */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 166px;
}

.nav--btn {
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    padding: 17px 24px;
    border: 1px solid #3d424d;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
}

/* hero section styles */

.hero {
    height: 652px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/Hero-bg.png);
}

.hero__content3 {
    margin-top: -20px;
    margin-bottom: 20px;
}

.hero--title {
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}

.hero--desc {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.hero--btn {
    width: 208px;
    height: 66px;
    padding: 21px, 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
}

    /* why web development section styles  */

.why-dev {
    margin: 75px 150px;
    padding: 80px 97px;
    background-color: #f4f4f4;
    border-radius: 10px;
}

.wd__ch1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.wd--title {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.wd--desc {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.wd__ch2 {
    margin: 48px 0;
    position: relative;
}

/* card components */
.wd--card1 {
    padding: 48px 96px;
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff6f6;
    border-radius: 20px;

}

.wd--card2 {
    padding:48px 96px; 
    margin: 30px 0;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #fff6f6;
    border-radius: 20px;
}

/* only for second card */
.cc2 {
    margin-left: 35px;

}

.card__title {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

.card__text {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 25px;
}

.card__btn {
    width: 150px;
    height: 48px;
    padding: 12px 20px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    color: rgb(13, 19, 33);
    background-color: #fafafb;
    cursor: pointer;
    text-align: center;
}

/* My inspiration section styles */

.my-inspiration {
    margin-left: 150px;
    margin-right: 150px;
    height: 777px;
}

.mi__ch1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mi--title {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.mi--desc {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    max-width: 852px;
    margin: 5px 0;
}

.mi__ch2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame {
    padding: 32px;
    border: 2px solid #dbdcde;
    border-radius: 30px;
    overflow: hidden;
}

    /* My Current Target section*/

.mct {
    margin-top: 149px;
    margin-left: 150px;
    margin-right: 150px;
    min-height: 463px;
}

.mct__ch1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mct--title {
    margin: 24px 0px;
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.mct--desc {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    max-width: 852px;
    margin: 24px 0;
}

/* cards */

.mct__ch2 {
    margin-top: 48px;
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
}

.mct__gc {
    width: 364px;
    height: 300px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    row-gap: 20px;
}

.mct-card--img {
    width: 50px;
}

.mct-card--title {}

.mct-card--desc {
    padding-top: 20px;
    padding-bottom: 20px;
}

.mct-card--link {
    /* margin-top: 30px; */
    display: block;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    text-decoration-line: underline;
}

.mct-card1 {
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

.mct-card2 {
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}

.mct-card3 {
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

/* I need support section styles */

